
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">
       <img src="../assets/images/burger.png">
          
        </div>
        <div class="col-xs-12 col-md-4">
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        

         <div id="burgersReady">
                <h2>Burgers Ready.</h2> 
         </div>

         <div id="burgersDevoured">
                <h2 >Burgers Devoured.</h2> 
         </div>

        
        </div>
        <div class="col-xs-12 col-md-4">
          <h1>Eat da Burger</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          
        </div>
        <div class="col-lg-4">
          <p>Enter the burger you want to eat and click submit</p>
        </div>
        <div class="col-xs-12 col-lg-4">
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="textbox" id="burgerText">
           <center><button class="submitBtn" >submit</button></center> 
          </form>
        </div>
        <div class="col-md-4">
            
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          
        </div>
        <div class="col-xs-4 col-md-4">
          
        </div>
        <div class="col-xs-4">
          
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
  </body>
